<% backdrop = @list.movies.first.backdrop_url%>
<div class="small-container-white-100vh d-flex flex-column align-items-center"
     style="background-image:
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url(<%= backdrop %>);
            background-size: cover">

  <h2 class="text-white">My "<%= @list.name %>" movies</h2>
  <%# Input to change the name of the list %>
  <div class="devise-background">
    <div class="devise-form">
      <%= form_with model: @list do |f| %>
        <div class="form-inputs">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-actions my-4">
          <%= f.submit "Change name of the list", class: "btn-light btn-devise" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
