<div class="col-6 my-3 mx-auto">
  <h1 class="text-center">Create a new list</h1>

  <%= simple_form_for @list do |f| %>
    <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :image_url, class: "form-label" %>
    <%= f.text_field :image_url, class: "form-control" %>
    <div class="text-center">
      <%= f.submit class: "btn btn-primary my-3" %>
    </div>
  <% end %>

</div>
