<% backdrop = @list.movies.first.backdrop_url%>
<div class="small-container-white-100vh d-flex flex-column align-items-center"
     style="background-image:
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url(<%= backdrop %>);
            background-size: cover">

  <div class="d-flex align-items-center gap-3">
    <h2 class="text-white">My "<%= @list.name %>" movies</h2>
    <%= link_to raw("<i class='fa-regular fa-pen-to-square'></i>"),
                      edit_list_path(@list),
                      class: "text-decoration-none text-white" %>
  </div>
  <div class="devise-background d-none">
    <div class="devise-form">
      <%= form_with model: @list do |f| %>
        <div class="form-inputs">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-actions my-4">
          <%= f.submit "Change name of the list", class: "btn-light btn-devise" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="cards-movies my-2">
    <% @list.movies.each do |movie| %>
      <div class="card-movie">
        <%= link_to movie_path(movie), class: "text-decoration-none" do %>
          <% if movie.poster_url == ''%>
            <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
          <% else %>
            <%= image_tag movie.poster_url, alt: "" %>
          <% end %>
          <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id)%>
          <%= link_to raw("<i class='fa-solid fa-trash-can'></i>"),
                      movie_bookmark_path(movie, bookmark),
                      data: {turbo_method: :delete, turbo_confirm: "Remove this movie from the list?"},
                      class: "text-decoration-none destroy-icon-bookmark" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
