<div class="small-container-white d-flex flex-column align-items-center">

  <h2>My list: <%= @list.name %></h2>

  <div class="cards-movies">

  <%= link_to new_list_path, class: "text-decoration-none text-white" do %>
    <div class="card-movie new-movie">
      <h3>Add a movie to my list</h3>
    </div>
  <% end %>

    <% @list.movies.each do |movie| %>
      <%= link_to movie_path(movie), class: "text-decoration-none" do %>
        <div class="card-movie">
          <% if movie.poster_url == ''%>
            <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
          <% else %>
            <%= image_tag movie.poster_url, alt: "" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="col-6 my-3">
    <div class="d-flex justify-content-center">
        <h4 id='anchor-form' >Add a movie to my list</h4>
    </div>
    <%= simple_form_for(@bookmark, as: :bookmark, method: :post, url: list_bookmarks_path(@list)) do |f| %>
      <%= f.label :comment, class: "form-label" %>
      <%= f.text_field :comment, placeholder: "At least 6 characters", class: "form-control" %>
      <%= f.association :movie, class: "form-control" %>
      <div class="text-center"><%= f.submit "Add movie", class: "btn btn-primary" %></div>
    <% end %>
  </div>

</div>
