<div class="small-container-dark-gray p-3 pb-0">
    <h2 class="text-center text-white m-0">Popular Actors</h2>
</div>
<div class="search-container">
    <%= form_with url: actors_path, method: :get, class: "search-form" do %>
    <div class="search-title">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field",
        placeholder: "Name..."
      %>
    </div>
    <%= submit_tag "Search", class: "btn btn-white" %>
    <% end %>
</div>
<div class="small-container-white" data-controller="load-actors">
  <div class="cards-movies">
    <% @actors.sort_by { |actor| actor.name }.each do |actor| %>
      <div class="d-none" data-load-actors-target="actor">
        <%= link_to actor_path(actor), class: "text-decoration-none" do %>
          <div class="actor">
            <div class="card-movie">

              <% if actor.picture_url == ''%>
                <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>

              <% else %>
                <%= image_tag actor.picture_url, alt: "" %>

              <% end %>

            </div>

            <h5 class="py-3"><%= actor.name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3">
    <button class="button-black-large" role="button"
            data-action="click->load-actors#loadMore"
            data-load-actors-target="button">
      Load more
    </button>
  </div>
</div>
<script>
  var actorCount = <%= @actors.count %>;
</script>
