<div class="small-container-dark-gray p-3 pb-0">
    <h2 class="text-center text-white m-0">Popular Actors</h2>
</div>
<div data-controller="refresh-list">
  <div class="search-container">
      <%= form_with url: actors_path, method: :get, class: "search-form", data: { refresh_list_target: 'form' } do |f| %>
      <div class="search-title">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <%= f.text_field :query,
                      class: "search-field",
                      placeholder: 'Name...',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>
      </div>
      <%= submit_tag "Search", class: "btn btn-white" %>
      <% end %>
  </div>

  <div class="small-container-white" data-controller="load-actors">
    <%= render "actors/list", actors: @actors %>
    <div class="text-center mt-3 div-loader">
      <div data-load-actors-target="loader" class="d-none loader"></div>
      <button class="button-black-large" role="button"
              data-action="click->load-actors#loadMore"
              data-load-actors-target="button">
        Load more
      </button>
    </div>
  </div>
</div>
<script>
  var actorsCount = <%= @actors_count %>;
  var pageIndex = "<%= @page_index %>";
  var query = "<%= params[:query] %>";
</script>
