<div class="small-container-dark-gray p-3 pb-0">
    <h2 class="text-center text-white m-0">Popular Actors</h2>
</div>
<div class="search-container">
    <%= form_with url: actors_path, method: :get, class: "search-form" do %>
    <div class="search-title">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field",
        placeholder: "Name..."
      %>
    </div>
    <%= submit_tag "Search", class: "btn btn-white" %>
    <% end %>
</div>
<div class="small-container-white" data-controller="load-actors">
  <div class="cards-movies" data-load-actors-target="actors">
    <% @actors.each do |actor| %>
      <div data-load-actors-target="actor">
        <%= link_to actor_path(actor), class: "text-decoration-none" do %>
          <div class="actor">
            <div class="card-movie">
              <%= image_tag actor.picture_url, alt: "" %>
            </div>
            <h5 class="py-3"><%= actor.name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3 div-loader">
    <div data-load-actors-target="loader" class="d-none loader"></div>
    <button class="button-black-large" role="button"
            data-action="click->load-actors#loadMore"
            data-load-actors-target="button">
      Load more
    </button>
  </div>
</div>
<script>
  var actorCount = <%= @actors_count %>;
  var pageIndex = "<%= @page_index %>";
  var query = "<%= params[:query] %>";
</script>
