<div class="actor-background">
     <div class="actor-details">
      <img src="<%= @actor.picture_url %>" alt="" class="poster">
      <div class="actor-infos">
        <h2><%= @actor.name %></h2>
        <h4>BIOGRAPHY</h4>
        <% if @actor.biography == "" %>
          <p>Sorry, we don't have a biography for <%= @actor.name %>.</p>
        <% else %>
          <p id="actor-bio"><%= @actor.biography %></p>
        <% end %>
      </div>
     </div>
</div>
<div class="small-container-white">
  <h2>Popular Movies</h2>
  <div class="cards-movies">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie), class: "text-decoration-none" do %>
        <div class="card-movie">
          <% if movie.poster_url == ''%>
            <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
          <% else %>
            <%= image_tag movie.poster_url, alt: "" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
