<div class="banner">
  <div class="container">
    <h1 class="text-center">Create your lists of popular movies</h1>
    <br>
  </div>
</div>
<div class="search-container">
    <%= form_with url: root_path, method: :get, class: "search-form" do %>
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field",
        placeholder: "Search..."
      %>
    </div>
     <div class="form-group">
      <%= select_tag :genre, options_from_collection_for_select(Genre.all, :id, :name), prompt: "Filter by genre", class: "form-control" %>
    </div>
    <%= submit_tag "Search", class: "btn-ghost" %>
    <% end %>

</div>
<div class="small-container-white">
  <h2>Popular Movies</h2>
  <div class="cards-movies">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie), class: "text-decoration-none" do %>
        <div class="card-movie">
          <% if movie.poster_url == ''%>
            <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
          <% else %>
            <%= image_tag movie.poster_url, alt: "" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
