<div class="banner">
  <div class="container">
    <h1 class="text-center">Create your lists of popular movies</h1>
    <br>
  </div>
</div>
<div class="search-container">
    <%= form_with url: root_path, method: :get, class: "search-form" do %>
    <div class="search-title">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field",
        placeholder: "Title..."
      %>
    </div>
     <div class="form-group">
      <%= select_tag :genre, options_from_collection_for_select(Genre.all, :id, :name, selected: params[:genre]), prompt: "Filter by genre", class: "form-control btn-ghost-select" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-white" %>
    <% end %>

</div>
<div class="small-container-white" data-controller="load-more">
  <h2 id="title-popular-movies">Popular Movies</h2>
  <div class="cards-movies" data-load-more-target="movies">
    <% @movies.each do |movie| %>
      <div data-load-more-target="movie">
        <%= link_to movie_path(movie), class: "text-decoration-none" do %>
          <div class="card-movie">
            <% if movie.poster_url == ''%>
              <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
            <% else %>
              <%= image_tag movie.poster_url, alt: "" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3 div-loader">
    <div data-load-more-target="loader" class="d-none loader"></div>
    <button class="button-black-large" role="button"
            data-action="click->load-more#loadMore"
            data-load-more-target="button">
      Load more
    </button>
  </div>
</div>
<script>
  var pagesCount = 500;
  var apiURL = "<%= ENV['API_URL'] %>";
  var pageIndex = "<%= @page_index %>";
  var query = "<%= params[:query] %>";
  var genre = "<%= params[:genre] %>";
  var moviesCount = <%= @movies_count %>;
</script>
