<div class="banner">
  <div class="container">
    <h1 class="text-center">Save any kind of movies</h1>
    <br>
  </div>
</div>
<div class="search-container">
    <%= form_with url: root_path, method: :get, class: "search-form" do %>
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field",
        placeholder: "Search..."
      %>
    </div>
    <%= submit_tag "Search", class: "btn-ghost" %>
    <% end %>
</div>
<div class="small-container">
  <h2>Popular Movies</h2>
  <div class="cards-movies">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie), class: "text-decoration-none" do %>
        <div class="card-movie">
          <%= image_tag movie.poster_url, alt: "" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

