<% if @movie.backdrop_url == '' %>
  <div class="movie-background"
     style="background-color: black">
<% else %>
  <div class="movie-background"
     style="background-image: url(<%= @movie.backdrop_url %>)">
<% end %>
    <div class="movie-details">
      <img src="<%= @movie.poster_url %>" alt="" class="poster">
      <div class="movie-infos">
        <h2><%= @movie.title %></h2>
        <p><%= @movie.overview %></p>
        <div class="movie-sub-infos">
          <div>
            <h5>RATING</h5>
            <p><%= @movie.rating %> / 10</p>
          </div>
          <div>
            <h5>RELEASE DATE</h5>
            <p><%= @movie.release_date %></p>
          </div>
          <div>
            <h5>DIRECTOR</h5>
            <p><%= @movie.director %></p>
          </div>
          <div>
            <h5>RUNNING TIME</h5>
            <% hours = @movie.run_time / 60 %>
            <% min = @movie.run_time - hours * 60 %>
            <p><%= hours %>h <%= min %>m</p>
          </div>
        </div>
        <div class="business">
          <% if @movie.budget == 0 || @movie.budget.nil? %>
            <p>Budget: Unknown</p>
          <% else %>
            <p>Budget: $<%= @movie.formatted_budget %></p>
          <% end %>
          <% if @movie.revenue == 0 %>
            <p>Revenue: Unknown</p>
          <% else %>
            <p>Revenue: $<%= @movie.formatted_revenue %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<div class="small-container-white">
  <h2>Recommanded Movies</h2>
   <div class="cards-movies">
    <% @reco_movies.each do |movie| %>
      <%= link_to movie_path(movie), class: "text-decoration-none" do %>
        <div class="card-movie">
          <% if movie.poster_url == ''%>
            <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
          <% else %>
            <%= image_tag movie.poster_url, alt: "" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="small-container-white">
  <h2>Actors</h2>
  <div class="cards-movies">
    <% @movie.actors.sort_by { |actor| actor.casts.where(movie: @movie).first.order }.each do |actor| %>
      <%= link_to actor_path(actor), class: "text-decoration-none" do %>
        <div class="actor">
          <div class="card-movie">
            <% if actor.picture_url == ''%>
              <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>
            <% else %>
              <%= image_tag actor.picture_url, alt: "" %>
            <% end %>
          </div>
          <h5 class="mt-3"><%= actor.name %></h5>
          <p class="mb-1"><%= actor.casts.where(movie: @movie).first.character %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
