<% if @movie.backdrop_url == '' %>
<div class="movie-background"
    style="background-color: black">
<% else %>
<div class="movie-background"
    style="background-image: url(<%= @movie.backdrop_url %>)">
<% end %>

  <div class="movie-details">
    <img src="<%= @movie.poster_url %>" alt="" class="poster">
    <div class="movie-infos">
      <h2><%= @movie.title %></h2>
      <p><%= @movie.overview %></p>
      <div class="movie-sub-infos">
        <div>
          <h5>RATING</h5>
          <% if @movie.rating == 0 || @movie.rating.nil? %>
            <p>Unknown</p>
          <% else %>
            <p><%= @movie.rating %> / 10</p>
          <% end %>
        </div>
        <div>
          <h5>RELEASE DATE</h5>
          <% if @movie.release_date == 0 || @movie.release_date.nil? %>
            <p>Unknown</p>
          <% else %>
            <p><%= @movie.release_date %></p>
          <% end %>
        </div>
        <div>
          <h5>DIRECTOR</h5>
          <% if @movie.director == 0 || @movie.director.nil? %>
            <p>Unknown</p>
          <% else %>
            <p><%= @movie.director %></p>
          <% end %>
        </div>
        <div>
          <h5>RUNNING TIME</h5>
          <% if @movie.run_time == 0 || @movie.run_time.nil? %>
            <p>Unknown</p>
          <% else %>
            <% hours = @movie.run_time / 60 %>
            <% min = @movie.run_time - hours * 60 %>
            <p><%= hours %>h <%= min %>m</p>
          <% end %>
        </div>
      </div>

      <div class="business">
        <% if @movie.budget == 0 || @movie.budget.nil? %>
          <p>Budget: Unknown</p>
        <% else %>
          <p>Budget: $<%= @movie.formatted_budget %></p>
        <% end %>
        <% if @movie.revenue == 0 || @movie.revenue.nil?%>
          <p>Revenue: Unknown</p>
        <% else %>
          <p>Revenue: $<%= @movie.formatted_revenue %></p>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="row trailer">
  <div class="col-12 col-md-8">
    <h2>Trailer</h2>
    <% if @movie.video_id == '' || @movie.video_id.nil? %>
        <p>Sorry, we don't have any trailer for <%= @movie.title %></p>
      <% else %>
      <% movie_url = "https://www.youtube.com/embed/#{@movie.video_id}" %>
        <iframe class="iframe-trailer"
                src= <%= movie_url %>
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      <% end %>
  </div>

  <div class="col-8 col-sm-6 col-md-4 add-to-list">
    <% if current_user %>

      <div class="text-center">
        <h5>Add this movie to a list</h5>
        <%= simple_form_for(@bookmark, as: :bookmark, method: :post, url: movie_bookmarks_path(movie_id: @movie)) do |f| %>
          <%= f.association :list, collection: @lists, label: false, input_html: { class: 'input-list' }, required: false %>
          <div class="text-center"><%= f.submit "Add to this list", class: "btn-ghost" %></div>
        <% end %>
      </div>

      <div class="text-center">
        <h5>Or create a new list</h5>
        <%= simple_form_for(@list, as: :list, method: :post, url: lists_path) do |f| %>
          <%= f.input :name, label: false, placeholder: "Name...", input_html: { class: 'input-list' }, required: false %>
          <%# hidden field movie %>
          <%= f.input :movie_id, as: :hidden, input_html: { value: @movie.id } %>
          <div class="text-center position-relative">
            <%= f.submit "Create a new list", class: "btn-ghost" %>
            <% if flash[:error].present? %>
              <div class="alert-danger position-absolute">
                <%= flash[:error] %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% else %>
      <%= link_to "Log in to add movies to your lists", new_user_session_path, class: "text-white pb-2" %>
    <% end %>
  </div>
</div>

<div class="small-container-white">
  <h2 class="sub-title">Recommanded Movies</h2>

  <% if @reco_movies == [] %>
    <p>Sorry, we don't have any recommandation for <%= @movie.title %></p>
  <% else %>

    <div class="cards-movies">
      <% @reco_movies.each do |movie| %>
        <%= link_to movie_path(movie), class: "text-decoration-none" do %>

          <% if movie.poster_url == ''%>
            <div class="actor">
              <div class="card-movie">
                <%= image_tag "oscar.jpg", alt: "" %>
              </div>
              <h5 class="py-3"><%= movie.title %></h5>
            </div>

          <% else %>
            <div class="card-movie">
              <%= image_tag movie.poster_url, alt: "" %>
            </div>
          <% end %>

        <% end %>
      <% end %>

    </div>
  <% end %>
</div>

<div class="small-container-white">
  <h2 id="title-actor" class="sub-title">Actors</h2>

  <% if @movie.actors == [] %>
    <p>Sorry, we don't have any actor for <%= @movie.title %></p>

  <% else %>
    <div class="cards-movies">
      <% @movie.actors.sort_by { |actor| actor.casts.where(movie: @movie).first.order }.each do |actor| %>
        <%= link_to actor_path(actor), class: "text-decoration-none" do %>
          <div class="actor">
            <div class="card-movie">

              <% if actor.picture_url == ''%>
                <%= image_tag "oscar.jpg", style: "margin: 14% 0", alt: "" %>

              <% else %>
                <%= image_tag actor.picture_url, alt: "" %>

              <% end %>

            </div>

            <h5 class="mt-3"><%= actor.name %></h5>
            <p class="pb-1"><%= actor.casts.where(movie: @movie).first.character %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
