<!DOCTYPE html>
<html>
  <head>
    <title>GwenWatchList2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <div class="container">
      <%= link_to root_path, class:"navbar-brand" do %>
        <%= image_tag "popcorn.png", alt: "Gwen Watch List", width: 30, height: 30 %>
      <% end %>
      <%= link_to "New list", new_list_path, class: "btn btn-outline-success my-2 my-sm-0"%>
    </div>
  </nav>
  <div class="container">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
